<h1> Google search </h1>

<form action="" method="get">
 Search for <input type="text" name="search"><br>
  <input type="submit" value="Submit">
</form>

<ul>
  <% @array.each do |a|%>
<li><%= a %></li>
<% end %>
</ul>